<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<p><strong>Developed by: </strong><span>Pankaj Pandey</span></p>
			</div>
		</div>
	</div>
</footer>
</div>
</body>
<%- include('../utils/UIUtils') %>

</html>