<%- include('partials/header') %>
<div class="clearfix">
	<h1 class="page-title">SpaceX Launch Programs</h1>
</div>
<section>
	<div class="container-fluid">
		<div class="row" id="filter-and-sat-listing-area">
			<div class="clearfix filter-area col col-lg-2 col-md-3 col-12">
				<%- include('partials/filters') %>
			</div>
			<div class="clearfix col content-area">
				<%- include('partials/satListing') %>
			</div>
		</div>
	</div>
</section>
<%- include('partials/footer') %>